/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

# Nginx logs
docker/nginx/logs/

# MySQL関連（例：永続化ディレクトリや一時ファイル）
docker/mysql
docker/mysql/data/
docker/mysql/tmp/
docker/mysql/logs/
docker/mysql/*.pid
docker/mysql/*.sock

# ログやその他一時ファイル
*.log
*.sqlite
.htaccess